extends _layout

block title
  title= title

block jsonld
  script(type='application/ld+json')!= JSON.stringify(jsonld)

block content
  .page-header
    h1= title
  div.row
    div.col-md-6
      div(class='map-container')
    div.col-md-6
      table.table
        tr
          th='Property'
          th='Value'
        each value, property in object.properties
          tr
            td=property
            td=value
