extends _layout

block jsonld
  script(type='application/ld+json')!='{"@context": "http://schema.org", "@type": "Place", "geo": ' + JSON.stringify(geojson2schema({geoJson: object.geometry})) + '}'

block vars
  if object.properties['BU_NAAM']
    - var title = object.properties['BU_NAAM']
  else if object.properties['WK_NAAM']
    - var title = object.properties['WK_NAAM']
  else if object.properties['GM_NAAM']
    - var title = object.properties['GM_NAAM']

block content
  div.row
    .col-md-6
      table.table
        thead
          tr
            th='Property'
            th='Value'
        tbody
        each value, property in object.properties
          tr
            td=property
            td=value
    .col-md-6.col-map
      .map-container
